.early-access {
    min-height: 29rem;
    text-align: center;
    position: relative;
    background-color: $mainBlue;

    @include breakpoint-up(medium) {
        min-height: 24.5rem;
    }

    &::after {
        content: ' ';
        width: 100%;
        position: absolute;
        height: 50%;
        bottom: 0;
        left: 0;
        z-index: 1;
        background-color: $footerBlue;

        @include breakpoint-up(medium) {
            height: 45%;
        }
    }

    &__wrapper {
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90%;
        z-index: 2;
        border-radius: 0.5rem;
        background-color: $introBlue;
        padding: 1.4rem 1.8rem 2.3rem;
        transform: translate(-50%, -50%);
        box-shadow: 0.5rem 0.5rem 0.8rem rgba(0, 0, 0, 0.25);

        @include breakpoint-up(medium) {
            width: 60%;
            padding: 2rem 4.6rem 2.3rem;
        }

        h1 {
            font-weight: 600;
            font-size: 1.125rem;
            margin: 1rem auto 1.125rem;

            @include breakpoint-up(medium) {
                font-size: 1.875rem;
                margin: 1rem auto 1.375rem;
            }
        }

        p {
            line-height: 1.5;
            font-size: 0.875rem;

            @include breakpoint-up(medium) {
                font-size: 13.5px;
            }
        }

        form {
            display: flex;
            margin-top: 2.1rem;
            flex-direction: column;
            justify-content: space-between;

            @include breakpoint-up(medium) {
                flex-direction: row;
            }

            input {
                width: 100%;
                height: 45px;
                border: none;
                outline: none;
                font-weight: 400;
                line-height: 1.333;
                padding: 0.5rem 2rem;
                margin-right: 1.6rem;
                margin-bottom: 1.5rem;
                border-radius: 2.4rem;
                font-family: $openSans;

                @include breakpoint-up(medium) {
                    margin-bottom: 0;
                }
            }

            .button {
                height: 45px;
                min-width: 185px;
                padding-top: 1rem;
                font-size: 0.8125rem;
                padding-bottom: 0.9375rem;
            }
        }
    }
}