.footer {
    font-size: 0.9375rem;
    background: $footerBlue;

    &__wrapper {
        width: 85%;
        margin: 0 auto;
        padding: 1rem 0 1.5rem;

        @include breakpoint-up(medium) {
            width: auto;
            padding: 1rem 0 4rem;
        }
    }

    &__content {
        width: 90vw;
        margin: auto;
        display: block;
        margin-top: 0.5rem;
        grid-template-columns: 6.5fr 4fr 2fr 2fr 2fr;

        @include breakpoint-up(medium) {
            width: 83vw;
            display: grid;
        }
    }

    &__logo {
        width: 11rem;
        margin-left: 2vw;
        margin-bottom: 1.5rem;

        @include breakpoint-up(medium) {
            width: auto;
            margin-left: 8vw;
        }
    }

    &__desc {
        display: grid;
        align-items: center;
        grid-template-columns: 0.15fr 1fr;

        @include breakpoint-up(medium) {
            grid-template-columns: 0.1fr 1fr;
        }

        p {
            margin: 0;
            line-height: 1.7;
        }

        img {
            width: auto;

            @include breakpoint-up(medium) {
                width: 1.125rem;
            }
        }

    }

    &__address {
        margin-bottom: 1rem;

        @include breakpoint-up(medium) {
            margin-bottom: 0;
        }

        .footer__desc {
            align-items: flex-start;

            img {
                width: 12.5px;
                margin-left: 5px;
                margin-top: 2px;
            }

            p {
                margin-top: -5px;
                width: 17rem;

                @include breakpoint-up(medium) {
                    width: 20rem;
                }
            }
        }
    }

    &__contact {
        p {
            font-size: 0.875rem;
        }

        .footer__desc:first-child {
            margin-bottom: 1rem;
        }

        .footer__desc {
            grid-template-columns: 0.13fr 1fr;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;

        a {
            color: $white;
            margin-bottom: 1rem;
            transition: all 0.3s ease-in-out;

            &:hover {
                font-weight: bold;
            }
        }
    }

    .first__links {
        margin: 5rem auto 2.5rem;

        @include breakpoint-up(medium) {
            margin: 0;
        }
    }

    &__social {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin: 4.3rem auto 1rem;

        @include breakpoint-up(medium) {
            margin: 0;
        }

        .social {
            display: flex;
            width: 1.8rem;
            height: 1.8rem;
            cursor: pointer;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            border: 1px solid $white;
            transition: all 0.3s ease-in-out;

            &:not(:last-child) {
                margin-right: 0.75rem;

                @include breakpoint-up(medium) {
                    margin-right: 0.5rem;
                }
            }

            svg {
                transition: all 0.3s ease-in-out;
            }

            &:hover {
                border: 1px solid $cyan;

                svg {
                    path {
                        fill: $cyan;
                    }
                }
            }
        }

        .social__icon:first-child {
            height: 0.875rem;
        }

        .social__icon {
            width: 1rem;
        }
    }
}