html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    color: #dad8d8;
    font-family: $openSans;
    background: $introBlue;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    color: $white;
    font-family: $raleway;
}

.button {
    color: $white;
    cursor: pointer;
    min-width: 240px;
    font-size: 13.5px;
    font-weight: bold;
    padding-top: 1rem;
    position: relative;
    border: transparent;
    border-radius: 30px;
    padding-bottom: 1rem;
    display: inline-block;
    font-family: $raleway;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(to right, $cyan, $blue);

    @include breakpoint-up(medium) {
        min-width: 260px;
        padding-top: 17px;
        padding-bottom: 17px;
        font-size: 0.9375rem;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        border-radius: 30px;
        background-color: rgba(255, 255, 255, 0.5);
        transition: opacity 150ms ease-in-out;
    }

    &:hover {
        &::before {
            opacity: 1;
        }
    }
}