.header {
    display: flex;
    align-items: center;
    padding: 1.5rem 1.5rem 0;
    justify-content: space-around;

    @include breakpoint-up(medium) {
        padding: 4.3rem 4.65rem 0;
    }

    &__logo {
        flex: 0.5;

        @include breakpoint-up(medium) {
            flex: 1;
        }

        img {
            width: 5rem;

            @include breakpoint-up(medium) {
                width: 10.3rem;
            }
        }
    }

    &__links {
        flex: 1;
        display: flex;
        margin-top: -5px;
        align-items: center;
        font-family: $raleway;
        justify-content: flex-end;

        @include breakpoint-up(medium) {
            margin-top: 0;
        }

        nav {
            a {
                color: #dad8d8;
                font-size: 0.8125rem;
                transition: all 0.3s ease-in-out;

                @include breakpoint-up(medium) {
                    font-size: 14.5px;
                }

                &:hover {
                    font-weight: bold;
                    text-decoration: underline;
                }

                &:not(:last-child) {
                    margin-right: 1rem;

                    @include breakpoint-up(medium) {
                        margin-right: 3.25rem;
                    }
                }
            }
        }
    }
}