.intro {

    @media (min-width: 960px) {
        padding-bottom: 11.8rem;
    }

    @include breakpoint-up(medium) {
        padding-top: 4rem;
        background: url("../images/bg-curvy-desktop.svg");
        background-position-y: bottom;
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 0;
    }

    @include breakpoint-down(small) {
        padding-top: 3rem;
        background: url("../images/bg-curvy-mobile.svg"), linear-gradient($introBlue 61%, $mainBlue 61%);
        background-position-y: 52%;
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: -20px;
    }

    &__wrapper {
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 80%;
        margin-top: 1rem;
        max-width: 72rem;

        @include breakpoint-up(medium) {
            width: 50%;
            margin-top: 0;
        }
    }

    &__image {
        img {
            width: 100%;
        }
    }

    &__text {
        text-align: center;

        h1 {
            font-size: 24px;
            line-height: 1.5;
            margin-top: 30px;

            @include breakpoint-up(medium) {
                font-size: 38px;
            }
        }

        p {
            font-size: 14px;
            padding: 0;
            line-height: 1.5;

            @include breakpoint-up(medium) {
                font-size: 18.5px;
                padding: 0 3rem;
            }
        }

        .button {
            margin-top: 16px;

            @include breakpoint-up(medium) {
                margin-top: 10px;
            }
        }
    }
}