.intro {

    @media (min-width: 960px) {
        padding-bottom: 11.8rem;
    }

    @include breakpoint-up(medium) {
        margin-top: 0;
        padding-top: 4rem;
        background: url("../images/bg-curvy-desktop.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position-y: bottom;
    }

    @include breakpoint-down(small) {
        padding-top: 3rem;
        margin-top: -1.25rem;
        background: url("../images/bg-curvy-mobile.svg"), linear-gradient($introBlue 61%, $mainBlue 61%);
        background-size: contain;
        background-position-y: 52%;
        background-repeat: no-repeat;
    }

    &__wrapper {
        width: 80%;
        margin: auto;
        display: flex;
        max-width: 72rem;
        margin-top: 1rem;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        @include breakpoint-up(medium) {
            width: 50%;
            margin-top: 0;
        }
    }

    &__image {
        img {
            width: 100%;
        }
    }

    &__text {
        text-align: center;

        h1 {
            line-height: 1.5;
            font-size: 1.5rem;
            margin-top: 1.875rem;

            @include breakpoint-up(medium) {
                font-size: 2.375rem;
            }
        }

        p {
            padding: 0;
            line-height: 1.5;
            font-size: 0.875rem;

            @include breakpoint-up(medium) {
                padding: 0 3rem;
                font-size: 18.5px;
            }
        }

        .button {
            margin-top: 1rem;

            @include breakpoint-up(medium) {
                margin-top: 0.625rem;
            }
        }
    }
}