.stay-productive {
    background: $mainBlue;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        flex-direction: column;
        padding: 5rem 0;
        max-width: 85%;

        @include breakpoint-up(medium) {
            flex-direction: row;
            padding: 0;
            max-width: 72rem;
        }
    }

    &__image {
        flex: 1;
        margin-bottom: 2rem;

        @include breakpoint-up(medium) {
            margin-bottom: 0;
        }

        img {
            width: 95%;
            display: block;
            margin: auto;

            @include breakpoint-up(medium) {
                width: 100%;
            }
        }
    }

    &__text {
        flex: 1;

        &__wrapper {
            width: 100%;
            margin-left: auto;
            line-height: 1.5;
            font-size: 14px;

            @include breakpoint-up(medium) {
                font-size: 15px;
                width: 91%;
            }

            h1 {
                width: auto;
                font-size: 18px;
                line-height: 1.3;
                margin-bottom: 0;
                font-weight: 600;

                @include breakpoint-up(medium) {
                    font-size: 38px;
                    width: 20rem;
                    font-weight: 700;
                }
            }

            p {
                margin-bottom: 14px;
            }

            .link {
                margin-top: 22px;
                width: 8rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid $cyan;
                padding-bottom: 4px;

                @include breakpoint-up(medium) {
                    width: 10rem;
                }

                a {
                    color: $cyan;
                    font-size: 12px;

                    @include breakpoint-up(medium) {
                        font-size: inherit;
                    }
                }

                &:hover {
                    border-bottom: 1px solid $white;

                    a {
                        color: $white;
                    }

                    svg {
                        use {
                            fill: $white;
                        }
                    }
                }
            }
        }
    }
}