.stay-productive {
    background: $mainBlue;

    &__wrapper {
        margin: auto;
        display: flex;
        max-width: 85%;
        padding: 5rem 0;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;

        @include breakpoint-up(medium) {
            padding: 0;
            max-width: 72rem;
            flex-direction: row;
        }
    }

    &__image {
        flex: 1;
        margin-bottom: 2rem;

        @include breakpoint-up(medium) {
            margin-bottom: 0;
        }

        img {
            width: 95%;
            margin: auto;
            display: block;

            @include breakpoint-up(medium) {
                width: 100%;
            }
        }
    }

    &__text {
        flex: 1;

        &__wrapper {
            width: 100%;
            line-height: 1.5;
            margin-left: auto;
            font-size: 0.875rem;

            @include breakpoint-up(medium) {
                width: 91%;
                font-size: 0.9375rem;
            }

            h1 {
                width: auto;
                line-height: 1.3;
                margin-bottom: 0;
                font-weight: 600;
                font-size: 1.125rem;

                @include breakpoint-up(medium) {
                    width: 20rem;
                    font-weight: 700;
                    font-size: 2.375rem;
                }
            }

            p {
                margin-bottom: 0.875rem;
            }

            .link {
                width: 8rem;
                display: flex;
                padding-bottom: 4px;
                align-items: center;
                margin-top: 1.375rem;
                justify-content: space-between;
                border-bottom: 1px solid $cyan;

                @include breakpoint-up(medium) {
                    width: 10rem;
                }

                a {
                    color: $cyan;
                    font-size: 0.75rem;

                    @include breakpoint-up(medium) {
                        font-size: inherit;
                    }
                }

                &:hover {
                    border-bottom: 1px solid $white;

                    a {
                        color: $white;
                    }

                    svg {
                        use {
                            fill: $white;
                        }
                    }
                }
            }
        }
    }
}