.testimonial {
    &__container {
        padding: 4.7rem 0;
        background: $mainBlue;

        @include breakpoint-up(medium) {
            padding: 8rem 0;
        }
    }

    &__wrapper {
        padding: 0;
        display: flex;
        max-width: 75%;
        margin: 0 auto;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        padding-top: 0.9375rem;
        justify-content: space-evenly;
        background-image: url("../images/bg-quotes.png");
        background-repeat: no-repeat;
        background-size: 7.5%;
        background-position-x: 5px;

        @include breakpoint-up(medium) {
            max-width: 69rem;
            padding-top: 2rem;
            background-size: 4.7%;
            background-position-x: initial;
        }
    }

    &__card {
        max-width: 21.2rem;
        margin-bottom: 1.5rem;
        border-radius: 0.393rem;
        padding: 1.75rem 1.25rem 1.5rem;
        background-color: $testimonialBlue;

        @include breakpoint-up(medium) {
            margin-bottom: 0;
            padding: 2.5rem 1.5rem 1.5rem;
        }

        &:not(:last-child) {
            margin-right: 0;

            @include breakpoint-up(medium) {
                margin-right: 1.8rem;
            }
        }

        p {
            margin: 0;
            line-height: 1.7;
            font-weight: 400;
            font-size: 0.625rem;
            letter-spacing: 0.5px;

            @include breakpoint-up(medium) {
                line-height: 1.5;
                font-size: 0.8125rem;
            }
        }

        .profile {
            display: flex;
            margin-top: 1.2rem;
            align-items: center;

            img {
                width: 1.5rem;
                border-radius: 50%;
            }

            .info {
                margin-left: 0.5rem;

                span:first-child {
                    display: block;
                    font-weight: 600;
                    margin-bottom: 3px;
                    font-size: 0.625rem;
                }

                span:last-child {
                    display: block;
                    font-size: 0.5rem;
                    letter-spacing: 1px;
                }
            }
        }
    }
}